*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#Paydatediv {
  height: fit-content;
  display: flex;
  gap: 10px;
  align-items: center;
}

#Payslash {
  font-size: 30px;
  margin-top: 20px;
}

.all {
  height: fit-content;
}

.Pay-nav-bar {
  margin-bottom: -10px;
  height: 0px;
  border-bottom: 1px solid rgba(158, 95, 95, 0.25);
  border-color: brown;
}